$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin breakpoint-down($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: #{$breakpoint-sm}) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: #{$breakpoint-md}) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: #{$breakpoint-lg}) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: #{$breakpoint-xl}) { @content; }
  } @else if $breakpoint == xxl {
    @media (max-width: #{$breakpoint-xxl}) { @content; }
  }
}