/* @import '../../node_modules/swiper/swiper-bundle';  */
// расширение файла не пишем ! (css)

.main{
	padding: 0;
	.inner{
		margin: 0;
		color: #fff;

	}
}
body{
	background-color: #000;
	color: #fff;
}
.tesla {
	height: 100px;
	width: 100px;
	fill: red;
	transition: 3s ease-out;
	&:hover {
		fill: green;
	}
}
.nasa {
	height: 100px;
	width: 100px;
	margin-left: 30px;
	opacity: 0.5;
	transition: 3s ease-out;
	&:hover {
		transform: scale(1.5);
		opacity: 1;
	}
}